---
import Navigation from "../components/Navigation.astro";
import "../assets/reset.css";
import "../assets/markdown.css";

const { COURSE_NUMBER, SEMESTER, COURSE_TITLE } = import.meta.env;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <base href={`${import.meta.env.BASE_URL}/`} />
    <link rel="icon" href="favicon.ico" sizes="any" />
    <link rel="icon" href="favicon.svg" type="image/svg+xml" />
    {
      Astro.props.description && (
        <meta name="description" content={Astro.props.description} />
      )
    }
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        `${Astro.props.title} | ${Astro.props.home ? COURSE_TITLE : `${COURSE_NUMBER}, ${SEMESTER}`}`
      }
    </title>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="svg-menu" viewBox="0 0 24 24">
        <title>Menu</title>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-menu"
        >
          <line x1="3" y1="12" x2="21" y2="12"></line><line
            x1="3"
            y1="6"
            x2="21"
            y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </symbol>

      <symbol id="svg-arrow-right" viewBox="0 0 24 24">
        <title>Expand</title>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-chevron-right"
        >
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </symbol>

      <symbol id="svg-search" viewBox="0 0 24 24">
        <title>Search</title>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-search"
        >
          <circle cx="11" cy="11" r="8"></circle><line
            x1="21"
            y1="21"
            x2="16.65"
            y2="16.65"></line>
        </svg>
      </symbol>
    </svg>
    <div id="leftpad"></div>
    <header id="label">
      <a href={import.meta.env.BASE_URL}>{COURSE_NUMBER}, {SEMESTER}</a>
    </header>
    <header id="search">
      <!-- todo: Search {PUBLIC_COURSE}, {PUBLIC_SEMESTER} -->
    </header>
    <div id="rightpad"></div>
    <Navigation current={Astro.props.current} />
    <main>
      <slot />
    </main>
  </body>

  <style>
    body {
      display: grid;
      grid-template-columns: 1fr 16.5rem 50rem 1fr;
      grid-template-rows: 3.75rem 1fr;
      grid-template-areas: "leftpad label search rightpad" "leftpad nav main rightpad";
      font-family:
        system-ui,
        -apple-system,
        blinkmacsystemfont,
        "Segoe UI",
        roboto,
        "Helvetica Neue",
        arial,
        sans-serif;
      min-height: 100vh;
      color: var(--text-color);

      --emph-color: #d41b2c;
      --text-color: #27262b;
      --deemph-color: #5c5962;
      --grayed-color: #959396;
      --left-background: #f5f6fa;
      --gray-ui-color: #eeebee;
      --divider: 1px solid var(--gray-ui-color);
      --hover-left-background-image: linear-gradient(
        -90deg,
        #ebedf5 0%,
        rgba(235, 237, 245, 0.8) 80%,
        rgba(235, 237, 245, 0) 100%
      );
      --hover-expander: linear-gradient(
        -90deg,
        #ebedf5 0%,
        rgba(235, 237, 245, 0.8) 100%
      );
    }

    .d-none {
      display: none;
    }

    #leftpad {
      grid-area: leftpad;
      background-color: var(--left-background);
      border-bottom: var(--divider);
    }
    #rightpad {
      grid-area: rightpad;
    }
    #label {
      grid-area: label;
      font-size: 1.5rem;
      line-height: 1.25;
      background: var(--left-background);
      border-bottom: var(--divider);
      border-right: var(--divider);
      display: grid;
      align-content: center;
    }
    #label:hover {
      background-image: var(--hover-left-background-image);
    }
    #label a {
      display: block;
      padding-inline: 2rem;
      text-decoration: none;
      color: #27262b;
    }

    #search {
      grid-area: search;
      border-bottom: var(--divider);
    }
    :global(nav) {
      grid-area: nav;
      background: var(--left-background);
      border-right: var(--divider);
    }
    main {
      grid-area: main;
      padding: 2rem;
    }

    @media (width <= 66.5rem) {
      body {
        /* background-color: pink; */
        grid-template-columns: 0 16.5rem 1fr 0;
      }
    }
  </style>
</html>
